{% extends "base.html.twig" %}

{% block body %}

{% set user = app.session.get('user') %}
<div class="container col-md-8 text-center mt-3">
   <div class="row">
      <div class="col-md-4">
         <img class="img-thumbnail" src="{{ order.product.image }}"
         width="200" height="200">
      </div>
      <div class="col-md-8">
         <table class="table table-bordered">
            <tr>
               <th class="text text-success" colspan="6">Order Detail</th>
            </tr>
            <tr>
               
               <th>Product Title</th>
               <th>Product Price</th>
               <th>Order Quantity</th>
               <th>Total Price</th>
               <th>Order Date</th>
            </tr>
            <tr>
               <td>{{ order.id }}</td>
               <td>$ {{ order.quantity }}</td>
               <td>{{ order.totalprice  }}</td>
               <td>$ {{ order.user.username }}</td>
               <td>{{ order.datetime | date('Y-m-d H:i:s') }}</td>
           </tr>
            <tr>
               <th colspan="6">
                  <a class="btn btn-primary" href="{{ path('product_store') }}";
                  >Back to store</a>
               </th>
            </tr>
         </table>
      </div>
   </div>
</div>
{% endblock %}