{% extends "base.html.twig" %}

{% block body %}
{# <div class="container col-md-8 mt-3"> #}
<div class="container">
   <div class="row">
      <div class="col-md-4">
         <div class="card">
            <img src="{{ product.image }}" width="240" height="240">
         </div>
      </div>
      <div class="col-md-8">
         <div class="card">     
         <table class="table table-bordered">      
            <th colspan="2" class="bg-success text-warning">Category Detail</th>
            {% if product.quantity >= 1 %}
               <div class="card-body">
                  <table class="table table-bordered">
                     <tr>
                        <th >Name</th>
                        <td><h3 class="text">{{ product.name }}</h3></td>
                     </tr>
                     <tr>   
                        <th >Price</th>
                        <td><h3 class="text">{{ product.price }} $ </h3></td>
                     </tr>
                     <tr>    
                        <th >Description</th>
                        <td><h3 class="text">{{ product.description }} </h3></td>
                     </tr>
                     <tr>    
                        <th >Quantity</th>
                        <td><h3 class="text">{{ product.quantity }} </h3></td>
                     </tr>
                     <tr>    
                        <th >Category </th>
                        <td> <h3 class="text">
                              {% if product.category != null %}
                                 <a href="{{ path('category_detail', {'id': product.category.id })}}">
                                 {{ product.category.name }} 
                              </a>
                              {% else %}
                                  N/A
                              {% endif %}
                        </h3></td>         
                     </tr>
         </table>
         </div>
            {% else %}
               <table class="table table-bordered">
                    <div class="card-body">
                  <table class="table table-bordered">
                     <tr>
                        <th >Name</th>
                        <td><h3 class="text">{{ product.name }}</h3></td>
                     </tr>
                     <tr>   
                        <th >Price</th>
                        <td><h3 class="text">{{ product.price }} $ </h3></td>
                     </tr>
                     <tr>    
                        <th >Description</th>
                        <td><h3 class="text">{{ product.description }} </h3></td>
                     </tr>
                     <tr>    
                        <th >Quantity</th>
                        <td><h3 class="text">{{ product.quantity }} </h3></td>
                     </tr>
                     <tr>    
                        <th >Category </th>
                        <td> <h3 class="text">
                              {% if product.category != null %}
                                 <a href="{{ path('category_detail', {'id': product.category.id })}}">
                                 {{ product.category.name }} 
                              </a>
                              {% else %}
                                  N/A
                              {% endif %}
                        </h3></td>         
                     </tr>
                  </table>
            {% endif %}       
         </div>
      </div>
   </div>
</div>
{% endblock %}