{# giao diện dạng bảng cho admin quản lý #}
{% extends 'base.html.twig' %}

{% block body %}

<div class="container col-md-8 text-center mt-3">
<table class="table table-light">
    <tr>
        <th colspan="15" class="text text-danger"><h1>Product List</h1></th>
    </tr>
    <tr>
        <th class="text text-primary">Customer name</th>
        <th class="text text-primary">Order Id</th>
        <th colspan="2" class="text text-primary">Product Name</th>
        <th colspan="2" class="text text-primary">Product Price</th>
        <th colspan="2" class="text text-primary">Order Quantity</th>
        <th colspan="2" class="text text-primary">Total Price</th>
        <th class="text text-primary">Order Date</th>
    </tr>
      {% for order in orders %}
      <tr>
          <td class="text text-success">{{ order.user.username }}</td>
          <td class="text text-success">{{ order.id }}</td>
          <td>
              <p class="text"><a href="{{ path('product_detail', {'id': order.product.id })}}">{{ order.product.name }} </p>
          </td>
            <td>
              <td class="text text-success">{{order.product.price}}</td>
          </td>
            <td>
              <td class="text text-success">{{order.quantity}}</td>
          </td>
            <td>
              <td class="text text-success">{{order.totalprice}}</td>
          </td>
            <td>
              <td class="text text-success">{{order.datetime | date('Y-m-d H:i:s') }}</td>
          </td>
      </tr>
      {% endfor %}
</table>
 <a class="btn btn-primary" href="{{ path('product_store') }}";>Back to store</a>
</div>
{% endblock %}
 